body {
    font-family: sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-left: 20px;
    overflow: hidden;
}

#navbar {
    color: #ecf0f1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: #16a085;
    margin: 0;
    padding: 0;
}

#navbar table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    width: 100%;
}

#title {
    font-size: 20px;
    font-weight: bold;
    line-height: 48px; /* Minus 2 pixels to correct the 1px border */
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 30px!important;
}

#navbar-options {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

input[type="button"] {
    color: #2c3e50;
    border: 1px solid #34495e;
    border-radius: 5px;
    background-color: #12b897;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#navbar-options input[type="button"] {
    font-size: 17px;
}

#page-content {
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.visualization {
    display: inline-block;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    padding: 20px;
    width: calc(50% - 60px);
    border-radius: 20px;
    background-color: #bdc3c7;
    vertical-align: top;
}

.visualization > .title {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2c3e50;
}

.visualization .content {
    font-size: 17px;
}

.mapboxgl-canvas-container {
    height: 40vw!important;
}

#dialog, #dialog-map-year {
    display: none;
}

#dialog > input[type="button"], #dialog-map-year > input[type="button"] {
    width: 100%;
}

.close-visu {
    float: right;
}

.close-visu::after {
    content: '\274C';
    cursor: pointer;
}